.btn-create {
  background-color: #e01e37;
  color: #fff;
}

.admin-table {
  margin-top: 50px;
}

.btn-edit {
  background-color: #03045e;
  color: #fff;
  font-size: 14px;
}

.table > tbody > tr > td {
  vertical-align: middle;
}
